<div class="rewardsContainer">
  <section class="tenDayContainer container--big">
    <div class="shop-button"><a href="/account/register" class="buynow">JOIN NOW</a>
    </div>
    <div class="parallax parallax--bg bgHero"></div>
  </section>

  <section class="tenDayContainer container--instructions intro day">
    <div class="grid-child chapter"><span class="heavyBold">OWN YOUR</span> INFLUENCE</div>
    <div class="grid-child copy">
      <iframe class="responsive-iframe"
              src="https://player.vimeo.com/video/493829518?autoplay=1&muted=1&loop=1&title=0&byline=0&portrait=0"
              frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>

  <section class="tenDayContainer container--small intro">
    <div class="parallax parallax--bg bgIntro"></div>
  </section>

  <section class="tenDayContainer container--instructions dayOne day">
    <div class="grid-child chapter"><span class="heavyBold">QÚL</span> REWARDS</div>
    <div class="grid-child copy">
      <div class="desktop-left">
        <p class="blackText bolded">QÚL’s Dynamic Influencer Rewards Program is incredibly simple and the first of its
          kind...
          but most important, <span class="heavyBold">it’s FREE to sign up.</span></p>
        <br>
        <p class="medGreen">These rewards eliminate the headache of confusing multi-level pay plans or underwhelming
          affiliate programs. QÚL’s rewards plan compensates you in multiple unique and exciting ways:</p>
      </div>
      <div class="divider medGreen"><img class="bracketImage"
             src="{{ 'pages-rewards-bracket_graphic.png' | asset_url }}" alt="image of a left-facing curly brace"></div>
      <div class="desktop-far-right">
        <div class="rewardsRow">
          <span class="number medGreen heavyBold">1.</span>
          <span class="title heavyBold">FREE PRODUCT</span>
          <p class="item-a">A. Personal Purchase Credits</p>
          <p class="item-b">B. Personal Referral Credit</p>
        </div>
        <div class="rewardsRow">
          <span class="number medGreen heavyBold">2.</span>
          <span class="title heavyBold">PERSONAL SALES</span>
          <p class="item-a">A. Influencer Direct Sales Commissions (DSP)</p>
          <p class="item-b"></p>
        </div>
        <div class="rewardsRow">
          <span class="number medGreen heavyBold">3.</span>
          <span class="title heavyBold">TEAM SALES</span>
          <p class="item-a">A. Influencer Indirect Sales Commission (ISP)</p>
          <p class="item-b">B. Override Sales Commissions (OSP)</p>
        </div>
        <div class="rewardsRow">
          <span class="number medGreen heavyBold">4.</span>
          <span class="title heavyBold">CONTESTS & BONUSES</span>
          <p class="item-a">A. Weekly, monthly, quarterly, & yearly contests and/or bonuses</p>
          <p class="item-b"></p>
        </div>
      </div>
    </div>
  </section>

  <section class="tenDayContainer container--small dayOne">
    <div class="parallax parallax--bg bgDayOne"></div>
  </section>

  <section class="tenDayContainer container--instructions dayTwo day">
    <div class="grid-child chapter"><span class="heavyBold">FREE</span> PRODUCT</div>
    <div class="grid-child copy">
      <div class="desktop-left">
        <p class="title heavyBold">A. PERSONAL PURCHASE CREDITS</p>
        <br>
        <p class="smallText">When you sign up as a Preferred Customer with QÚL you immediately start participating in
          several rewards opportunities. Once you complete your first purchase you will automatically qualify to earn
          <span class="medGreen heavyBold">VIP status rewards.</span></p>
        <p class="smallText">The program rewards you with <span class="medGreen heavyBold">
            Personal Purchase Credits (FREE or Discounted Product)</span> as follows:</p>
        <p class="centeredList">
          <span class="heavyBold">Silver VIP = <span class="medAqua">5% QÚL Credit</span></span><br>
          <span class="heavyBold">Gold VIP = <span class="medAqua">10% QÚL Credit</span></span><br>
          <span class="heavyBold">Platinum VIP = <span class="medAqua">15% QÚL Credit</span></span><br>
          <span class="heavyBold">Diamond VIP = <span class="medAqua">20% QÚL Credit</span></span><br>
        </p>
        <div class="roundedBox">
          <p class="disclaimerText">
            * Earned credit will be added to your QÚL wallet</p>
          <p class="disclaimerText">* Status automatically begins in the month you purchase a product and status
            increases with each consecutive month you make QÚL product purchases.</p>
          <p class="disclaimerText">* All statuses reset to Silver VIP in the event a month of purchasing is missed.</p>
        </div>
        <div class="centeredText">
          <p class="medGreen heavyBold">VIP STATUS EXAMPLE:</p>
          <p class="disclaimerText">A <span class="bolded">Gold VIP</span> purchases $100 of QÚL products and receives
            <span class="bolded">$10 in QÚL Credit</span></p>
        </div>
      </div>
      <div class="desktop-far-right">
        <p class="title heavyBold">B. PERSONAL REFERRAL CREDITS</p>
        <br>
        <p class="smallText">Preferred Customers also earn <span class="medAqua heavyBold">20% in QÚL Referral
            Credit</span> for
          each customer they refer who purchases QÚL products.</p>
        <div class="roundedBox">
          <p class="disclaimerText">*There is no limit to how many customers can be referred. After THREE (3) referred
            customers purchase QÚL products, the referring customer will be invited to become an Influencer (see
            Influencer Rewards).</p>
        </div>
        <div class="centeredText">
          <p class="medGreen heavyBold">REFERRAL CREDITS EXAMPLE:</p>
          <p class="disclaimerText">A preferred customer totaling $250 total in referral sales would receive <span
                  class="bolded">$50 in QÚL Credit</span></p>
        </div>
        <div class="aquaDivider"></div>
        <div class="qpons">
          <p class="medAqua heavyBold">Q-PONS</p>
          <p class="disclaimerText">
            QÚL Credits can be used towards personal purchases AND can also be gifted to other customers and influencers
            in the form of <span class="bolded">Q-pons</span>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="tenDayContainer container--small dayTwo">
    <div class="parallax parallax--bg bgDayTwo"></div>
  </section>

  <section class="tenDayContainer container--instructions dayThree day">
    <picture>
      <source media="(max-width: 450px)" srcset="{{ 'pages-QulRewardsMobile-5-400w.jpg' | asset_url }}">
      <source media="(max-width: 1024px)" srcset="{{ 'pages-QulRewardsMobile-5-1024w.jpg' | asset_url }}">
      <img src="{{ 'pages-QulRewardsDesktop-5-2560w.jpg' | asset_url }}"
           alt="image with text that says congratulations, you are now an influencer" class="congrats">
    </picture>
    <div class="grid-child chapter"><span class="heavyBold">PERSONAL</span> SALES</div>
    <div class="grid-child copy">
      <p class="title dsp heavyBold">
        INFLUENCER DIRECT SALES COMMISSIONS (DSP)
      </p>
      <p class="descriptive">
        When a Preferred Customer refers <span class="medGreen heavyBold">THREE (3) other Preferred Customers</span>
      </p>
      <p class="descriptive">
        who order QÚL products they will receive an invitation to become a
      </p>
      <p class="descriptive"><span class="medGreen heavyBold">QÚL Influencer</span> and qualify for <span
              class="medGreen heavyBold">20% Commission.</span></p>
      <div class="roundedAquaOutline">
        Direct Sales Points (DSP): <span class="medAqua heavyBold">20% Commission</span>
      </div>
      <p class="title personalSalesEg medGreen heavyBold">PERSONAL SALES EXAMPLE:</p>
      <p class="descriptive">
        An <span class="bolded">INFLUENCER</span> totaling 2500 Direct Sales Points
      </p>
      <p class="descriptive">
        (DSP) would earn $500 in commission.
      </p>
    </div>
  </section>

  <section class="tenDayContainer container--small dayThree">
    <div class="parallax parallax--bg bgDayThree"></div>
  </section>

  <section class="tenDayContainer container--instructions dayFour">
    <div class="grid-child chapter"><span class="heavyBold">TEAM</span> SALES</div>
    <div class="grid-child copy">
      <div class="desktop-left">
        <p class="title heavyBold">A. INFLUENCER INDIRECT SALES COMMISSIONS (ISP)</p>
        <p class="smallText">An Influencer can earn <span class="medGreen heavyBold">Indirect Sales Points
            (ISP)</span>for developing a team of other influencers and customers as follows:</p>
        <div class="roundedAquaOutline">
          Indirect Sales Points (ISP) = <span class="medAqua heavyBold">10% Commission</span>
        </div>
        <div class="centeredText">
          <p class="medGreen heavyBold">INFLUENCER INDIRECT SALES EXAMPLE:</p>
          <p class="disclaimerText">An <span class="bolded">INFLUENCER</span> totaling 5000 Indirect Sales Points (ISP)
            for customer and/or influencer sales would earn $500 in commission.</p>
        </div>
      </div>

      <div class="desktop-far-right">
        <p class="title heavyBold">B. INFLUENCER OVERRIDE SALES COMMISSIONS (OSP)</p>
        <p class="medGreen heavyBold leftAligned">QUALIFIED INFLUENCER</p>
        <p class="smallText leftAligned">An Influencer can unlock <span class="medGreen heavyBold">additional Override
            Sales Points (OSP)</span> when a combination of Direct Sales Points (DSP) and Indirect Sales Points (ISP)
          exceed 5000 in Qualified Points (QP).</p>
        <div class="roundedAquaOutline">
          Override Sales Points (OSP) = <span class="medAqua heavyBold">5% Commission</span>
        </div>
        <div class="centeredText">
          <p class="medGreen heavyBold">INFLUENCER OVERRIDE SALES EXAMPLE:</p>
          <p class="disclaimerText">An <span class="bolded">INFLUENCER</span> who exceeds 5000 Qualified Points (QP)
            combination of Direct Sales Points (DSP) and Indirect Sales Points (ISP) for customer and/or influencer
            sales & has a total of 10,000 in Override Sales Points (OSP) would earn $500 in OSP commissions.
          </p>
        </div>
      </div>
      <div class="aquaDivider"></div>
      <div class="wholesaleSection">
        <p class="medAqua heavyBold">WHOLESALE OPPORTUNITY</p>
        <p class="descriptive">Qualified business owners can submit to purchase wholesale. Wholesale purchases will
          qualify for all commissions.</p>
        <p class="heavyBold descriptive">There is an incredible opportunity for an unlimited amount of retailers and
          wholesalers to partner with QÚL.</p>
        <p class="descriptive">*Wholesale purchases are at a discounted price and commission rate.</p>
      </div>
    </div>
  </section>

  <section class="tenDayContainer container--small dayFour">
    <div class="parallax parallax--bg bgDayFour"></div>
  </section>

  <section class="tenDayContainer container--instructions dayFive">
    <div class="grid-child chapter"><span class="heavyBold">CONTESTS</span> & BONUSES</div>
    <div class="grid-child copy">
      <p class="title dsp heavyBold">WEEKLY, MONTHLY, QUARTERLY, & YEARLY CONTESTS AND/OR BONUSES.</p>
      <p class="descriptive">QÚL Influencers will also qualify to participate in lucrative</p>
      <p class="medGreen heavyBold descriptive">weekly, monthly, quarterly & yearly contests and/or bonuses.</p>
    </div>
    <div class="aquaBackground">
      <p class="descriptive"><span class="doubleSizeText heavyBold">QÚL</span> gives you an incredible opportunity to
        <span class="blackText doubleSizeText heavyBold">OWN YOUR INFLUENCE</span></p>
      <p>with the <span class="doubleSizeText heavyBold">WORLD’S LEADING LUXURY CBD SKINCARE.</span></p>
      <p class="blackText descriptive">Be part of something <span class="doubleSizeText heavyBold">QÚL.</span></p>
    </div>
  </section>

  <div class="bgPostscript">
    <div class="socialIcons">
      <p class="socialText">
        LET'S BE SOCIAL
      </p>
      <a href="https://facebook.com/qulcbd" target="_blank" rel="noopener noreferrer"><img
             src="{{ 'page-rewards-facebook.png' | asset_url }}" alt="facebook icon" class="socialIcon"></a>
      <a href="https://instagram.com/qulbeauty" target="_blank" rel="noopener noreferrer"><img
             src="{{ 'page-rewards-insta.png' | asset_url }}" alt="instagram icon" class="socialIcon"></a>
    </div>
    <img sizes="(max-width: 1199px) 1024w, (min-width: 1200px) 2560w"
         srcset="{{ 'pages-QulRewards-lastImg-1024w.jpg' | asset_url }} 1024w, {{ 'pages-QulRewards-lastImg-2560w.jpg' | asset_url }} 2560w">
  </div>
</div>

<!-- Library so parallax works on mobile as well -->
{{ 'universal-parallax.min.js' | asset_url | script_tag }}

<script>
  new universalParallax().init({ speed: 8 });
</script>